{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ],
  "ignore": [
    "**/*.test.ts"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}